* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

.lato-thin {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .lato-thin-italic {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .lato-light {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .lato-light-italic {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .lato-regular-italic {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .lato-bold-italic {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .lato-black {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .lato-black-italic {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: italic;
  }

  .merriweather-light {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .merriweather-light-italic {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .merriweather-regular {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .merriweather-regular-italic {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .merriweather-bold {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .merriweather-bold-italic {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .merriweather-black {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .merriweather-black-italic {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: italic;
  }

  .montserrat {
  font-family: "Montserrat", sans-serif;
}

.sedgwick-ave-regular {
  font-family: "Sedgwick Ave", cursive;
  font-weight: 400;
  font-style: normal;
}

  

/* bg */

.container {
    width: 1200px;
    margin: 0 auto;
}

.bg {
    background-image: url(./img/BG.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 120vh;
    position: relative;
}

.rhombo {
    position: absolute;
    top: 45%;
    left: 5%;
    transform: translate(-50%, -50%);
}

.rombiki {
    width: 90%;
}

/* navigation */

.nav {
    display: flex;
    justify-content: center;
    align-items: start;
}

.nav-el {
    font-family: "Lato", sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #F87932;
    letter-spacing: 0.2em;
    background-color: white;
    padding: 20px 20px;
    text-align: center;
    margin-right: 63px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    transition: all 0.3s ease-in-out;
}

.logo {
    margin-right: 63px;
    background-color: white;
    padding: 15px 40px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.nav-el:hover {
    color: white;
    background-color: #F87932;
}

/* title */

.title {
    margin-top: 30px;
    margin-bottom: 200px;
}

.block-traveling {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 110px;
}

.traveling-left {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.traveling-title {
    font-family: "Merriweather", sans-serif;
    font-size: 80px;
    font-weight: 700;
    color: #39BFA7;
    text-shadow: 1px 1px 2px black;
}

.button {
    margin-top: 80px;
}

.traveling-btn {
    font-family: "Lato", sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: white;
    letter-spacing: 0.2em;
    background-color: #F87932;
    padding: 16px 24px;
    transition: all 0.3s ease-in-out;
}

.traveling-btn:hover {
    background-color: white;
    color: #F87932;
    font-weight: 700;
}

.orange-span {
    color: #F87932;
}

.main-rhombo {
    position: relative
}

.romb1 {
    position: absolute;
    top: 60%;
    left: 61%;
    transform: translate(-50%, -44%);
}

.romb2 {
    position: absolute;
    top: 60%;
    left: 80%;
    transform: translate(-50%, -50%);
    
}

.romb3 {
    position: absolute;
    top: 70%;
    left: 71%;
    transform: translate(-50%, -50%);
}

.romb4 {
    position: absolute;
    top: 23%;
    left: 83%;
    transform: translate(-50%, -50%);
}

.romb5 {
    position: absolute;
    top: 42%;
    left: 85%;
    transform: translate(-50%, -50%);
}

/* adventure */

.adventure {
   margin-bottom: 100px; 
}

.adventure-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    position: relative;
}

.bg-adventure__img {
    position: absolute;
    top: -29px;
    left: 33px;
    transform: translate(-20%, -30%);
}

.adventure-relax {
    font-size: 24px;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    color: #666666;

}

.adventure-h2 {
    font-family: "Merriweather", sans-serif;
    font-size: 60px;
    font-weight: 900;
}

.adventure-text {
    font-family: "Lato", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #666666;
    margin-top: 20px;
    letter-spacing: 0.2em;
}

.adventure-button {
    margin-top: 160px;
}

.adventure-btn {
    font-family: "Lato", sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: black;
    letter-spacing: 0.2em;
    background-color: white;
    border: 1px solid black;
    transition: all 0.3s ease-in-out;
}

.adventure-btn:hover {
    background-color: #F87932;
    color: white;
    font-weight: 700;
}

/* video */

.video {
  background-image: url(./img/bg33.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 115vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  position: relative;
}

.video-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.video-h3 {
  font-family: "Merriweather", sans-serif;
  font-size: 60px;
  font-weight: 900;
  color: white;
}

.video-p {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: white;
  margin-top: 20px;
  margin-bottom: 50px;
  letter-spacing: 0.2em;
}

.video-rombs {
  display: flex;
  position: absolute;
  top: 90%;
  left: 46%;
  transform: translate(-52%, -14%)
}

/* blog */

.blog {
  margin-top: 250px;
}

.top-line {
  text-align: center;
}

.top-line__h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 20px;
}

.top-line__p {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: 600;
  color: #444444;
  margin-bottom: 20px;
}

.top-line__p2 {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #666666;
  margin-top: 20px;
}

.center-line {
  display: flex;
  gap: 30px;
  margin-top: 60px;
}

.center-line__left{
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.blog-column__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.center-line__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.blog-column__right {
  display: flex;
  justify-content: space-between;
}

.bottom-line {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

/* tourist */

.tourist {
  background-image: url(./img/bg444.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 220vh;
  position: relative;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  margin-top: 80px;
}

.tourist-block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border: 5px solid white;
  margin-top: 120px;

}

.tourist-h2 {
  color: white;
  font-family: "Merriweather", sans-serif;
  font-size: 60px;
  margin-top: 60px;
}

.tourist-p2 {
  letter-spacing: 0.25em;
  color: #EEEEEE;
}

.center-block {
  display: flex;
  text-align: start;
  gap: 134px;
  margin-top: 67px;
}

.center-block {
  margin-bottom: 112px;
}

.center-right {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.center-right__el {
  display: flex;
  align-items: center;
  color: white;
  gap: 26px;
}

.center-right__p {
  font-family: "Sedgwick Ave", sans-serif;
  font-size: 60px;
  color:#39BFA7;
  text-align: end;
}

.center-right__num {
  font-family: "Sedgwick Ave", sans-serif;
  font-size: 80px;
}

.hight-text {
  font-family: "Sedgwick Ave", sans-serif;
  font-size: 28px;
  color: #969696;
}

.lower-text {
  font-family: "Merriweather", sans-serif;
  font-size: 40px;
  font-weight: 900;
}

.tourist-button {
  margin-bottom: 52px;
}


/* registration */


.registration {
  margin-top: 40px;
  background-color: #D9D9D9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.block-registation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hight-registration {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-h2 {
  text-shadow: 1px 1px 2px black;
}

.reg-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Lato", sans-serif;
}

.block-input__checkbox {
  font-family: "Lato", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.block-input {
  display: flex;
  gap: 30px;
  margin-top: 30px;
}

.input-first {
  display: flex;
  flex-direction: column;
  text-align: start;
}

.label-text {
  margin-bottom: 10px;
}

.input-first input {
  padding: 10px 40px;
  border: 1px solid #F87932;
  background-color: #fff;
  border-radius: 5px;
}

.block-input__solo {
  margin-top: 30px;
}

.input-solo {
  display: flex;
  flex-direction: column;
  text-align: start;
}

.input-solo input {
  padding: 10px 0px;
  border: 1px solid #F87932;
  border-radius: 5px;
  background-color: #fff;
}

.block-input__checkbox {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.line-box {
  margin-top: 10px;
}

.block-input__checkbox {
  text-align: start;
}

.custom-radio {
  margin-right: 30px;
}

.custom-radio>input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-radio>span {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.custom-radio>span::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 50%;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.custom-radio>input:not(:disabled):not(:checked)+span:hover::before {
  border-color: #F87932;
}


.custom-radio>input:not(:disabled):active+span::before {
  background-color: #b3d7ff;
  border-color: #F87932;
}

.custom-radio>input:focus+span::before {
  box-shadow: 0 0 0 0.2rem rgba(236, 145, 42, 0.25);
}


.custom-radio>input:focus:not(:checked)+span::before {
  border-color: #F87932;
}


.custom-radio>input:checked+span::before {
  border-color: #F87932;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%230b76ef'/%3e%3c/svg%3e");
}

.custom-radio>input:disabled+span::before {
  background-color: #F87932;
}

.custom-checkbox {
  margin-top: 30px;
}

.custom-checkbox>input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox>span {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.custom-checkbox>span::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.custom-checkbox>input:not(:disabled):not(:checked)+span:hover::before {
  border-color: #b3d7ff;
}

.custom-checkbox>input:not(:disabled):active+span::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}

.custom-checkbox>input:focus+span::before {
  box-shadow: 0 0 0 0.2rem rgba(255, 180, 67, 0.25);
}

.custom-checkbox>input:focus:not(:checked)+span::before {
  border-color: #80bdff;
}

.custom-checkbox>input:checked+span::before {
  border-color: #F87932;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%230b76ef' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.custom-checkbox>input:disabled+span::before {
  background-color: #e9ecef;
}

.btn-label {
  padding: 20px 67px;
}

/* footer */

.footer {
  background-color: #151C21;
  font-family: "Lato", sans-serif;
}

.line-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 0;
}

.block-footer {
  display: flex;
  flex-direction: column;
}

.footer__head {
  color: white;
  font-size: 20px;
}

.number {
  text-decoration: none;
  color: #fff;
}

.footer__email {
  text-decoration: none;
  color: #fff;
}

.footer__addres {
  color: #fff;
}

.line {
  width: 100%;
  height: 2px;
  background-color: #414141;;
}

.low-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.low-footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 80px 0;
}
.low-footer__block {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.low-footer__one {
  color: #BBBBBB;
}

.low-footer__two {
  color: #BBBBBB;
  font-weight: 200;
}

@media screen and (max-width: 425px) {

  .bg {
    height: 74vh;
  }
  
  .container {
    width: 98%;
    padding: 0 10px;
  }

  .rhombo {
    display: none;
  }

  .block-traveling {
    flex-direction: column;
  }

  .nav {
    justify-content: start;
  }

  .nav-el {
    display: none;
  }

  .logo {
    padding: 0;
    background-color: none;
  }

  .traveling-title {
    font-size: 60px;
  }

  .traveling-right {
    display: none;
  }

  .traveling-btn {
    font-size: 12px;
    padding: 13px 20px;
  }

  .adventure-h2 {
    font-size: 30px;
  }

  .adventure-relax {
    font-size: 12;
  }
    
  .adventure-block {
    grid-template-columns: 1fr;
  }

  .adventure-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .bg-adventure__img {
    top: 64px;
    left: 66px;
  }

  .adventure-text {
    font-size: 10px;
  }

  .adventure-button {
    margin-top: 30px;
  }

  .video-h3 {
    font-size: 25px;
  }

  .video-p {
    font-size: 15px;
  }

  .video  {
    height: 50vh;
  }

  .video-btn {
    display: none;
  }

  .video-rombs {
    align-items: center;
    justify-content: center;

  }

  .video-rombs {
    flex-wrap: wrap;
  }

  .video-rombs__img {
    width: 95px;
    display: none;
  }

  .video-rombs {
    top: 68% ;
  }

  .top-line__h2 {
    font-size: 24px;
  }

  .top-line__p {
    font-size: 16px;
  }

  .top-line__img {
    width: 40%;
  }

  .top-line__p2 {
    font-size: 8px;
  }

  .center-line {
    flex-direction: column;
    gap: 10px;
  }

  .center-line__img {
    width: 50%;
  }

  .center-line__left {
    flex-direction: row-reverse;
    gap: 0px;
  }

  .blog-column__left img{
    width: 90%;
  }

  .center-line__right {
    flex-direction: column-reverse;
    gap: 10px;
    align-items: center;
  }

  .center-block {
    flex-direction: column;
  }

  .center-right__p {
    font-size: 30px;
    text-align: center;
  }

  .center-right__num {
    font-size: 32px;
  }

  .center-block {
    gap: 30px
  }

  .hight-text {
    font-size: 11px;
  }

  .lower-text {
    font-size: 16px;
  }

  .center-right {
    gap: 27px;
  }

  .block-input {
    flex-direction: column;
  }

  .line-footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
  }
}

@media screen and (max-width: 768px) {

  .bg {
    height: 74vh;
  }
  
  .container {
    width: 98%;
    padding: 0 10px;
  }

  .rhombo {
    display: none;
  }

  .block-traveling {
    flex-direction: column;
  }

  .nav {
    justify-content: start;
  }

  .nav-el {
    display: none;
  }

  .logo {
    padding: 0;
    background-color: none;
  }

  .traveling-title {
    font-size: 40px;
  }

  .traveling-right {
    display: none;
  }

  .traveling-btn {
    font-size: 12px;
    padding: 13px 20px;
  }

  .adventure-h2 {
    font-size: 30px;
  }

  .adventure-relax {
    font-size: 12;
  }
    
  .adventure-block {
    grid-template-columns: 1fr;
  }

  .adventure-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .bg-adventure__img {
    top: 64px;
    left: 66px;
  }

  .adventure-text {
    font-size: 10px;
  }

  .adventure-button {
    margin-top: 30px;
  }

  .video-h3 {
    font-size: 25px;
  }

  .video-p {
    font-size: 15px;
  }

  .video  {
    height: 50vh;
  }

  .video-btn {
    display: none;
  }

  .blog-column__right {
    display: flex;

  }

  .video-rombs {
    align-items: center;
    justify-content: center;

  }

  .video-rombs {
    flex-wrap: wrap;
  }

  .video-rombs__img {
    width: 150px;
    display: none;
  }

  .video-rombs {
    top: 85%;
    left: 50%;
  }

  .top-line__h2 {
    font-size: 24px;
  }

  .top-line__p {
    font-size: 16px;
  }

  .top-line__img {
    width: 40%;
  }

  .top-line__p2 {
    font-size: 8px;
  }

  .center-line {
    flex-direction: column;
    gap: 10px;
  }

  .center-line__img {
    width: 50%;
  }

  .center-line__left {
    flex-direction: row-reverse;
    gap: 0px;
  }

  .blog-column__left img{
    width: 90%;
  }

  .center-line__right {
    flex-direction: column-reverse;
    gap: 10px;
    align-items: center;
  }

  .center-block {
    flex-direction: column;
  }

  .center-right__p {
    font-size: 30px;
    text-align: center;
  }

  .center-right__num {
    font-size: 32px;
  }

  .center-block {
    gap: 30px
  }

  .hight-text {
    font-size: 11px;
  }

  .lower-text {
    font-size: 16px;
  }


  .center-right {
    gap: 27px;
  }

  .block-input {
    flex-direction: column;
  }

  .line-footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
  }
}

@media screen and (max-width: 320px) {
  .container {
    width: 98%;
    padding: 0 10px;
  }

  .bg {
    height: 80vh;
  }

  .button {
    margin-top: 30px;
  }

  .rhombo {
    display: none;
  }

  .block-traveling {
    flex-direction: column;
  }

  .nav {
    justify-content: start;
  }

  .nav-el {
    display: none;
  }

  .logo {
    padding: 0;
    background-color: none;
  }

  .traveling-title {
    font-size: 40px;
  }

  .traveling-right {
    display: none;
  }

  .traveling-btn {
    font-size: 8px;
    padding: 8px 16px;
  }

  .adventure-h2 {
    font-size: 30px;
  }

  .adventure-relax {
    font-size: 12;
  }
    
  .adventure-block {
    grid-template-columns: 1fr;
  }

  .adventure-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .bg-adventure__img {
    top: 0;
    left: 0;
  }

  .adventure-text {
    font-size: 10px;
  }

  .adventure-button {
    margin-top: 30px;
  }

  .video-h3 {
    font-size: 15px;
  }

  .video-p {
    font-size: 7px;
  }

  .video-btn {
    display: none;
  }

  .video-rombs {
    flex-wrap: wrap;
  }

  .video-rombs__img {
    width: 70px ;
  }

  .video-rombs {
    top: 68% ;
  }

  .video {
    height: 50vh;
  }

  .top-line__h2 {
    font-size: 24px;
  }

  .top-line__p {
    font-size: 16px;
  }

  .top-line__img {
    width: 40%;
  }

  .top-line__p2 {
    font-size: 8px;
  }

  .center-line {
    flex-direction: column;
    gap: 10px;
  }

  .center-line__img {
    width: 50%;
  }

  .center-line__left {
    flex-direction: row-reverse;
    gap: 0px;
  }

  .blog-column__left img{
    width: 90%;
  }

  .center-line__right {
    flex-direction: column-reverse;
    gap: 10px;
    align-items: center;
  }

  .center-block {
    flex-direction: column;
  }

  .center-right__p {
    font-size: 30px;
    text-align: center;
  }

  .center-right__num {
    font-size: 32px;
  }

  .center-block {
    gap: 30px
  }

  .hight-text {
    font-size: 11px;
  }

  .lower-text {
    font-size: 16px;
  }

  .tourist {
    height: 300vh;
  }

  .center-right {
    gap: 27px;
  }

  .block-input {
    flex-direction: column;
  }

  .line-footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
  }
}

@media screen and (max-width: 375px) {

  .bg {
    height: 74vh;
  }
  
  .container {
    width: 98%;
    padding: 0 10px;
  }

  .rhombo {
    display: none;
  }

  .block-traveling {
    flex-direction: column;
  }

  .nav {
    justify-content: start;
  }

  .nav-el {
    display: none;
  }

  .logo {
    padding: 0;
    background-color: none;
  }

  .traveling-title {
    font-size: 40px;
  }

  .traveling-right {
    display: none;
  }

  .traveling-btn {
    font-size: 12px;
    padding: 13px 20px;
  }

  .adventure-h2 {
    font-size: 30px;
  }

  .adventure-relax {
    font-size: 12;
  }
    
  .adventure-block {
    grid-template-columns: 1fr;
  }

  .adventure-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .bg-adventure__img {
    top: 64px;
    left: 66px;
  }

  .adventure-text {
    font-size: 10px;
  }

  .adventure-button {
    margin-top: 30px;
  }

  .video-h3 {
    font-size: 25px;
  }

  .video-p {
    font-size: 15px;
  }

  .video  {
    height: 50vh;
  }

  .video-btn {
    display: none;
  }

  .video-rombs {
    align-items: center;
    justify-content: center;

  }

  .video-rombs {
    flex-wrap: wrap;
  }

  .video-rombs__img {
    display: none;
  }

  .video-rombs {
    top: 68%;
  }

  .top-line__h2 {
    font-size: 24px;
  }

  .top-line__p {
    font-size: 16px;
  }

  .top-line__img {
    width: 40%;
  }

  .top-line__p2 {
    font-size: 8px;
  }

  .center-line {
    flex-direction: column;
    gap: 10px;
  }

  .center-line__img {
    width: 50%;
  }

  .center-line__left {
    flex-direction: row-reverse;
    gap: 0px;
  }

  .blog-column__left img{
    width: 90%;
  }

  .center-line__right {
    flex-direction: column-reverse;
    gap: 10px;
    align-items: center;
  }

  .center-block {
    flex-direction: column;
  }

  .center-right__p {
    font-size: 30px;
    text-align: center;
  }

  .center-right__num {
    font-size: 32px;
  }

  .center-block {
    gap: 30px
  }

  .hight-text {
    font-size: 11px;
  }

  .lower-text {
    font-size: 16px;
  }


  .center-right {
    gap: 27px;
  }

  .block-input {
    flex-direction: column;
  }

  .line-footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
  }
}
